github_repo              = "my-org/my-iac-project"
github_branch            = "main"
dev_account_id           = "222222222222"
dev_deployment_role_arn  = "arn:aws:iam::222222222222:role/deployment-role"
prod_account_id          = "333333333333"
prod_deployment_role_arn = "arn:aws:iam::333333333333:role/deployment-role"
configs_repo             = "my-org/my-configs"
configs_repo_branch      = "main"
configs_repo_path        = "."
codestar_connection_arn  = "arn:aws:codeconnections:ca-central-1:111111111111:connection/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"